@import url(../vendor/fonts.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

body {
	background-color: black;
	color: white;
	font-family: kamerik-3d;
}

.logo {
	--logo-size: calc(var(--index) * 8);
	background-image: url(../img/logo.svg);
	width: var(--logo-size);
	height: var(--logo-size);
	background-repeat: no-repeat;
	position: absolute;
	top: calc(var(--index) * 2.5);
	left: calc(50% - calc(var(--logo-size) / 2));
	z-index: 1;
}

.layers {
	perspective: 1000px;
	overflow: hidden;
}

.layers__container {
	min-height: 500px;
	height: 100vh;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}

.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.layer-1 {
	background-image: url(../img/layer-1.jpg);
	transform: translateZ(-55px) scale(1.1);
}

@media screen and (max-width: 1440px) {
	.layer-1 {
		transform: translateZ(-55px) scale(1.6);
	}
}

.layer-2 {
	background-image: url(../img/layer-2.png);
	transform: translateZ(80px) scale(.95);
}

.layer-3 {
	transform: translateZ(180px) scale(.75);
}

.layer-4 {
	transform: translateZ(190px) scale(.9);
}

.layer-5 {
	background-image: url(../img/layer-5.png);
	transform: translateZ(300px) scale(.75);
}

.layer-6 {
	background-image: url(../img/layer-6.png);
	transform: translateZ(280px);
}

.layer-7 {
	background-image: url(../img/layer-7.png);
	transform: translateZ(350px);
}

.hero-content {
	font-size: calc(var(--index) * 3);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
}

.hero-content span {
	display: block;
}

.hero-content__p {
	text-transform: none;
	font-family: marriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .8);
	line-height: 3;
	user-select: none;
}

.button-start {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .7);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	background-color: transparent;
	color: white;
	border: rgb(255 255 255 / 0.5) 3px solid;
	border-radius: 10em;
	outline: none;
	cursor: pointer;
	filter: blur(1px);
}

.button-start:hover {
	transition: all .4s ease-in;
	filter: blur(0);
}

.layer-4,
.layer-5,
.layer-6,
.layer-7 {
	pointer-events: none;
}

h1 {
	user-select: none;
}